
.vs/Space Game/v16/.suo
.vs/Space Game/v16/Browse.VC.db
.vs/Space Game/v16/Browse.VC.db-shm
.vs/Space Game/v16/Browse.VC.db-wal
.vs/Space Game/v16/Browse.VC.opendb
.vs/Space Game/v16/ipch/AutoPCH/349de7758b820cf9/GLOBAL_VARIABLES.ipch
.vs/Space Game/v16/ipch/AutoPCH/57be5d9b2426de03/LTEXTURE.ipch
.vs/Space Game/v16/ipch/AutoPCH/7effe20657010b03/ENTITY.ipch
.vs/Space Game/v16/ipch/AutoPCH/9c878fe43b101d2/ENTITY.ipch
.vs/Space Game/v16/ipch/AutoPCH/9de179bf72ffbed2/LTEXTURE.ipch
.vs/Space Game/v16/ipch/AutoPCH/a5cb5f720ad1ea9/MAIN.ipch
.vs/Space Game/v16/ipch/AutoPCH/b54b2509e29af08c/GLOBAL_VARIABLES.ipch
.vs/Space Game/v16/ipch/AutoPCH/beb8b27200d026a6/LTEXTURE.ipch
.vs/Space Game/v16/ipch/AutoPCH/c23f697e40a52578/HEADER.ipch
.vs/Space Game/v16/ipch/AutoPCH/e534bc3316d120b9/MAIN.ipch
